body{
    background-image: url(https://cdn.pixabay.com/photo/2020/05/07/04/01/digitization-5140071_960_720.jpg);
    background-size: cover;
}
fieldset{
    border: 2px solid  #5b94b9  ;
    border-radius: 30px;
    background-color:  #d4d4d4be;
    color:black;
    transition-duration: 0.3s ;
    width: 500px;
    margin-left: 33%;
    margin-right: 50%;
}
